body{
   overflow:hidden;
  }

html {
  margin: 0;
  padding: 0;
}
canvas{
  background-color: green;
}

button {
    font-family: Kalam, serif;
    font-size: 40px;
}

button:focus {
    outline: none;
}
